<form>
  <div class='registration-page-content'>
    <span class='create-account-text'>Создать аккаунт</span>

    <label for='nickname'></label>
    <input class='text-input-field nickname-field' id='nickname'
           placeholder='Введите никнейм' type='text' autocomplete='off'>

    <span class='text-length-hint'>*от 5 до 15 символов</span>

    <label for='password'></label>
    <input class='text-input-field password-field' id='password'
           placeholder='Введите пароль' type='password' autocomplete='off'>

    <label for='password-confirmation'></label>
    <input class='text-input-field password-confirmation-field' id='password-confirmation'
           placeholder='Подтвердите пароль' type='password' autocomplete='off'>

    <span class='text-length-hint'>*от 5 до 30 символов</span>

    <span class='go-to-login-text'>Уже есть аккаунт? <span class='use-it-text'>Используйте его</span></span>

    <button class='primary-button'>Создать</button>
  </div>
</form>
