.registration-modal-window-content {
  border-radius: 65px;
}

.registration-page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-account-text {
  font-size: 32px;
  margin-top: 50px;
}

.nickname-field,
.password-field,
.password-confirmation-field {
  width: 270px;
}

.nickname-field {
  margin-top: 30px;
}

.password-field {
  margin-top: 15px;
}

.password-confirmation-field {
  margin-top: 10px;
}

.text-length-hint {
  $font-color: rgba(0, 0, 0, .3);
  $font-size: 14.5px;
  $left-padding: 7px;

  color: $font-color;
  font-size: $font-size;
  font-weight: bold;
  margin-right: auto;
  padding-left: $left-padding;
}

.go-to-login-text {
  cursor: pointer;
  margin-top: 16px;
}

.use-it-text {
  font-weight: bold;
}

.create-account-button {
  $font-size: 20px;
  $button-height: 40px;
  $button-width: 150px;
  $top-margin: 35px;

  font-size: $font-size;
  height: $button-height;
  margin-top: $top-margin;
  width: $button-width;
}
