.primary-button {
  $background-color: #cbb97a;
  $border-width: 3px;
  $border-color: #5f2f4e;
  $border-radius: 20px;

  background-color: $background-color;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
}

.primary-button:hover {
  $hovered-background-color: #c1af6a;
  background-color: $hovered-background-color;
  cursor: pointer;
}
