<div class="modal-window-content lobby-modal-window-content">
  <div class="lobby-page-section lobby-participants-list-section">
    <span class="participants-text">Участники:</span>
    <div class="lobby-page-section-element lobby-participants-list">
    </div>
  </div>

  <div class="lobby-page-section">
    <div class="lobby-page-section-element lobby-id-section-element">
      <span class="lobby-id-text">Lobby ID: {{ lobbyId }}</span>
      <button class="primary-button copy-lobby-id-button">Скопировать ID</button>
    </div>
    <div class="lobby-page-section-element lobby-actions-buttons">
      <button class="primary-button lobby-action-button start-game-button">Начать игру</button>
      <button class="primary-button lobby-action-button exit-lobby-button">Выйти из лобби</button>
    </div>
  </div>
</div>
