.play-button {
  $font-size: 2.5em;
  $background-color: #efede0;
  $border-width: .1em;
  $border-color: #cbb97a;
  $border-radius: 1em;
  $button-height: 1.25em;
  $button-width: 5.6em;

  background-color: $background-color;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  font-size: $font-size;
  height: $button-height;
  text-align: center;
  width: $button-width;
}

.play-button:hover {
  $hovered-background-color: #e9e5ce;
  background-color: $hovered-background-color;
  cursor: pointer;
}
