.main-menu-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.main-menu-page-header {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.main-menu-page-monopoly-text {
  $font-size: 160px;
  $shadow-blur: 8px;
  $shadow-color: #cbb97a;

  font-family: Algerian, sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 $shadow-blur $shadow-color;
}

.main-menu-page-content {
  $background-color: #efede0;

  align-items: flex-start;
  background-color: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.menu-actions-container {
  $top-margin: 60px;
  $container-width: 1200px;

  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $top-margin;
  width: $container-width;
}

.menu-action {
  $border-width: 3px;
  $border-color: #cbb97a;
  $border-radius: 35px;
  $element-height: 375px;
  $element-width: 512px;

  align-items: center;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: $element-height;
  justify-content: flex-start;
  width: $element-width;
}

.action-button {
  $border-radius: 25px;
  $font-size: 30px;
  $button-height: 60px;
  $bottom-margin: 35px;
  $top-margin: 25px;
  $button-width: 260px;

  border-radius: $border-radius;
  font-size: $font-size;
  height: $button-height;
  margin-bottom: $bottom-margin;
  margin-top: $top-margin;
  width: $button-width;
}

.button-description {
  font-size: 24px;
  text-align: center;
  width: 72%;
}

.icon-container {
  $bottom-margin: 16px;
  $right-margin: 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: $bottom-margin;
  margin-right: $right-margin;
  margin-top: auto;
  width: 100%;
}
