<div class="modal-window">
  <div class="modal-window-body">
    <div class="modal-window-content join-lobby-modal-window-content">
      <form>
        <div class="join-lobby-page-content">
          <span class="enter-lobby-id-text">Введите ID лобби</span>

          <span class="lobby-id-hint">*можно спросить ID лобби у его создателя</span>
          <label for="lobby-id"></label>
          <input class="text-input-field lobby-id-field" id="lobby-id"
                 placeholder="Введите ID лобби" type="text" autocomplete="off">

          <button class="primary-button join-lobby-button">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>
