<div class="modal-window">
  <div class="modal-window-body">
    <div class="modal-window-content login-modal-window-content">
      <form>
        <div class="login-page-content">
          <span class="login-to-account-text">Войти в аккаунт</span>

          <label for="nickname"></label>
          <input class="text-input-field login-nickname-field" id="nickname"
                 placeholder="Введите никнейм" type="text" autocomplete="off">

          <label for="password"></label>
          <input class="text-input-field login-password-field" id="password"
                 placeholder="Введите пароль" type="password" autocomplete="off">

          <span class="go-to-registration-text">Нет аккаунта? Его можно <span class="create-it-text">создать</span></span>

          <button class="primary-button login-button">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>
