<div class="modal-window">
  <div class="modal-window-body">
    <div class="modal-window-content lobby-modal-window-content">
      <img src="{{ loaderSrc }}" alt="loader" width="60">
    </div>
  </div>
</div>
